<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kontakt oss</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-YKPXBZD8T3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-YKPXBZD8T3');
</script>
<body>
    <div class="window">
        <div class="title-bar">
            <span class="title">Kontakt oss</span>
            <div class="window-controls">
                <button class="control-btn min"><i class="fas fa-window-minimize"></i></button>
                <button class="control-btn max"><i class="fas fa-window-maximize"></i></button>
                <button class="control-btn close"><i class="fas fa-times"></i></button>
            </div>
        </div>
        <main class="pdf-page">
            <h1>Kontakt oss</h1>
            <p>Har du spørsmål eller forslag til forbedringer? Send en e-post til:</p>
            <p><a href="mailto:helland.orjan@gmail.com">helland.orjan@gmail.com</a></p>
            <p>Besøk også vår andre side, <a href="https://brreg-sok.onrender.com/" target="_blank">FirmaSøk</a>, for å utforske bedrifter.</p>
        </main>
    </div>
</body>
</html>
